<!DOCTYPE html>

<html>
    <head>
        <title>Plenty Of Riffs</title>
    </head>

    <body>

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/matchmaker/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}

            </ul>
        </div>
        <div>{% block body_block %}{% endblock %}</div>

    </body>
</html>