{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
<div class="container">
        <h1>Your Matches</h1>

            {% if matches %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                            <th>Genre</th>
                            <th>Location</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for match in matches %}
                                <tr>
                                    <td>{{ match.first_name }}</td>
                                    <td>{{ match.last_name }}</td>
                                    <td>
                                        {% for i in match.user.instruments.all %}
                                        {{ i.instrument_name }}
                                    {% endfor %}
                                    </td>
                                    <td>
                                    {% for i in match.user.genres.all %}
                                        {{ i.genre_name }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ match.location }}</td>
                                    <td>{{ match.user.email }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <strong>You have no matches.</strong>
            {% endif %}
</div>
{% endblock %}