{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
<div class="container">
        <h1>Your Matches</h1>

            {% if matches %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Instrument</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for match in matches %}
                                <tr>
                                    <td>{{ match.first_name }}</td>
                                    <td>{{ match.instrument }}</td>
                                    <td>{{ match.genre }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <strong>You have no matches.</strong>
            {% endif %}
</div>
{% endblock %}