{% extends "base.html" %}

{% block body_block %}

        <h1>My Profile</h1>
        <h2>Personal Info</h2>
        {% if profile %}
            <ul>
            <li><strong>First Name:</strong> {{ profile.first_name }}</li>
            <li><strong>Last Name:</strong>{{ profile.last_name }}</li>
            <li><strong>Gender: </strong>{{  profile.gender }}</li>
            <li><strong>Birthdate: </strong>{{  profile.birth_date }}</li>
            <li><strong>Email:</strong>{{ profile.user.email }}</li>
            <li><strong>Location: </strong>{{  profile.location }}</li>
            <li><strong>Bio: </strong>{{  profile.bio }}</li>
            </ul>

        {% endif %}
        <a href="{% url 'edit_personal_info' %}">Edit</a>
        <h2>My Instruments</h2>
        {% if instruments %}
            <ul>
                {% for instrument in instruments %}
                <li><strong>{{ instrument.instrument_name }}:</strong> {{ instrument.years_of_experience }} year(s)</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>You have not added any instruments.</strong>
        {% endif %}
        <a href="{% url 'add_instrument' %}">Add an instrument to your profile</a>
        <h2>My Genres</h2>
        {% if genres %}
            <ul>
                {% for genre in genres %}
                <li><strong>{{ genre.genre_name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>You have not added any genres.</strong>
        {% endif %}
        <a href="{% url 'add_genre' %}">Add a genre to your profile</a>
{% endblock %}